<%- include("partials/header.ejs") %>
<!--
    All the fields are required to be fill by the user, by the attributes required
-->
<link rel="stylesheet" href="styles/compose.css">
    <main>
        <form action="/submitNewEntry" method="post">
            <h1>Compose New Entry</h1>

            <div>
                <label for="book-isbn">ISBN:</label>
                <input 
                    type="text" 
                    inputmode="numeric" 
                    pattern="[0-9]{10,13}" 
                    name="isbn" 
                    id="book-isbn" 
                    placeholder="Enter the ISBN of the book"
                    title="ISBN code is between 10 to 13 char numbers" 
                    required>
            </div>

            <label>
                <textarea cols="60" rows="15" name="content" minlength="50" maxlength="250" placeholder="What do you think about the book?" required></textarea>
            </label>

            <div>
                <label for="date-read">Date Read:</label>
                <input type="date" id="date-read" value="<%= today %>" max="<%= today %>" name="date" required>
            </div>

            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" required/>
                <label for="star5" title="text" required>5 stars</label>
                <input type="radio" id="star4" name="rate" value="4"/>
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3"/>
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2"/>
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1"/>
                <label for="star1" title="text">1 star</label>
                <p>Rating:</p>
            </div>
            

            <input type="submit" id="submitform" value="Add">

        </form>

    </main>
</body>

<%- include("partials/footer.ejs") %>
</html>
